@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: black;
}

.main {
  width: 100%;
  height: 100%;
  top: 0;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.buttons {
  height: 148px;
  width: 100%;
}

.button {
  display: flex;
  text-align: left;
  vertical-align: middle;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.image {
  height: 100%;
  width: 28px;
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.main-text {
  width: 100%;
  font-size: 16px;
  color: #818C99;
  margin-top: -13px;
}

.header-text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
}

.under-header-text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  width: 210px;
}

.image-right {
  text-align: right;
  width: 100%;
  margin-right: 19px;
  vertical-align: middle;
}

